div.border{
	height: 50%;
	border: 1px solid gray;
}

.Table
{
	display: table;
	width: 180px;
	margin-top: 10px;
}
.Title
{
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
	
}
.Heading
{
	display: table-row;
	font-weight: bold;
	text-align: center;
	color: aqua;
}
.Row
{
	display: table-row;
}
.Cell
{
	display: table-cell;
	border: solid gray;
	border-width: thin;
	padding-left: 5px;
	padding-right: 5px;
}